<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- password_reset_email.html -->
    {% load i18n %}
    {% autoescape off %}
    {% blocktrans %}
    You're receiving this email
    because you requested a password reset for your account at {{ site_name }}.
    {% endblocktrans %}


    {% block reset_link%}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}

    {% blocktrans%}
    Please go to the following page and choose a new password:
    {% endblocktrans %}
    {% block button %}
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
    {%endblock %}
    {% endautoescape %}
</body>

</html>